body{
    background-color:  #FFFFFF;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

.contact-topheading{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 84px;
    letter-spacing: -0.03em;
    color: #1E1B1B;
    width: 40%;
    margin-bottom: 25px;
    
}
.form-style{
    width: 70%;
}
.input-bar{
    background-color: hsl(0, 0%, 95%);
    border-radius: 2px;
    border: none;
    margin: 3px 0px;
    color: black;
    width: 80%;
    padding: 18px 12px 18px 24px;
}
::placeholder {
    color: black;
    opacity: 10;
    font-size: 0.8em;
    font-weight: 600;
  }
.contact-button{
    background-color: #FF6433;
    color: white;
    border-radius: 12px;
    font-size: 10px;
    Padding: 16px 40px 16px 40px
}
.contact-submit{
    margin-top: 25px;
}
.contact-notes{
    font-weight: 600;
    font-size: 13px;
    line-height: 28px;
    color: #1E1B1B;
    opacity: 0.7;
}
.contact-me{
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: -0.03em;
    color: #1E1B1B;
}
.contact-section{
    box-sizing: border-box;
    line-height: 20px;
    margin: 15px 0px;
}
.contact-me a{
    text-decoration: none;
    color: black;
}
.contact-me a:hover{
    opacity: 20%;
}
.contact-map{
    text-align: center;
    margin-top: 70px;   
}
.contact-map img{
    width: 100%;
}
.contact-footer{
    height: 260px;
    width: 80%;
    color: black;
}

.bottom-image{
    background-image: url("../images/contact-bg.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    position: relative;
    top: -80px;
    z-index: -1;
}

@media(max-width: 1200px){
    .contact-section{
        line-height: 7px;
        margin: 0px;        
    }
    .contact-topheading{
        margin-left: 0px;
        font-size: 45px;
        line-height: 56px;
        width: 90%;
    }
   

}

@media(max-width: 1000px){
    .contact-section{
        line-height: 8px;
        margin: 3px 0px;

    }
    .contact-notes{
        line-height: 21px;
}}


@media(max-width: 800px){
    .contact-topheading{
        font-size: 40px;
        line-height: 46px;
    }
    .block{
        display: block;
    }
    .form-style{
        width: 130%;
    }
    
}
@media(max-width: 1400px){
    .block{
        display: block;
    }
}
@media (max-width: 480px){
    .contact-topheading{
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
    }
    .contact-me{
        font-size: 19px;
        line-height: normal;
        letter-spacing: normal;
        color: #1E1B1B;
    
    }
    .bottom-image{
        height: 200px;
        
    }
    ::placeholder {
        font-size: 10px;
      }
   
  

}
.contact-right{
    width: 50%;
}
@media(max-width: 400px){
    .contact-me {
        font-weight: 100;
        font-size: 18px;
        line-height: 25px;
    }
    .contact-button{
        padding: 10px;    }
  
}
@media(max-width: 300px){
    .contact-me {
    font-size: 14px;
}
}
@media(max-width: 240px){
    .contact-me {
    font-size: 12px;
}}
@media(max-width: 220px){
    .contact-me {
    font-size: 10px;
}
.contact-right{
    width: 100%;
}

}
